.navbar-default {
    background-color: #ffcb00;
    border-color: #ffcb00;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color:white;
}
.nav-right{
    color:#1e1e1e;
    float: right;
    font-size: 16px;
    margin-right: 8px;
}
.back-contain{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.back-div-img{
    min-height: 150px;
    border: 1px solid #f8f8f8;
}
.navbar{
    margin-bottom: 0;
}
.back-div-title{
    text-align: center;
    background: white;
    padding: 20px;
}
.back-div-title-people{
    padding-top: 10px;
    font-size: 16px;
}
.back-div-title-time{
    font-size:24px;
    font-weight: 700;
}
.back-div-line{
    min-height: 20px;
}
.back-div-from-div-middle{
    width: 20%;
}
.back-div-from-div-right{
    width: 38%;
}
.back-div-from-div-left{
    width: 38%;
}
.back-div-from-div{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}
.middle-circle{
    background: #ffcb00;
    border: 1px solid #ffcb00;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    line-height: 70px;
    font-size: 32px;
    margin-top: -100px;
}
.back-div-from-input-div{
    width: 80%;
    margin:10px auto;
}
.back-div-form{
    background: white;
}
.back-div-form .row{
    width: 100%;
    margin: 0 auto;
}
.back-div-from-select-div{
    width: 60%;
    margin: 0 auto;
}
.back-btn{
    background: #ffcb00 ;
}
#ruler,#fin,#error{
    height: 100%;
    width: 100%;
    top: 0;
    text-align: left;
    display: none;
    cursor: pointer;
    -moz-opacity: 0.9;
    opacity:0.9;
    z-index:1001;
    filter: alpha(opacity=40);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}
#ruler{
    display: block;
}
.ruler-middle{
    background: white;
    padding: 20px;
}
.ruler-middle-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #d8d8d8; 
}
.ruler-bottom{
    padding: 15px;
    text-align: center;
}
.ruler-img{
    margin-bottom: -40px;
}
.fin-bottom{
    border-top:1px solid #f1f1f1;
    padding: 10px 20px;
    background-color: white; 
    text-align: center;
    font-size: 24px
}
.fin-bottom a{
    color: #ffcb00;
    font-weight: 700;
}
.fin-middle{
    font-size: 18px;
    background-color: white;
    padding: 80px 20px 40px 20px;
    text-align: center;
}
.fin-top{
    margin-top: 120px;
    text-align: right;
    margin-bottom: -40px;
}
.back-div-country-div{
    padding: 10px 0;
}
.middle-circle-p{
    display: inline-table;
}
.back-pic{
    border: 1px solid #d8d8d8;
}
.back-div-from-p{
    padding: 22px 0;
    border-bottom: 1px solid #d8d8d8;
}
li{
    font-weight: 700;
}
.ruler-hide{
    float: right;
}
.result-img{
    width: 22px;
    border:1px solid #d8d8d8;
}
.result-time{
    padding: 10px;
    font-size: 18px;
}
.result-div-normal{
    display: inline-block;
    text-align: left;
    font-size: 12px;
    padding: 6px 2px ;
}
.result-div-right-1{
    background: #eee;
    padding: 6px 12px ;
}
.result-div {
    padding: 10px;
}
.result-day-contain{
    background: white;
}
.result-div-right-success{
    background: #fff;
    padding: 6px 12px ;
}
.result-done{
    background-color: #fdfdfd
}
.result-success{
    background: #fef4f5;
}
.result-div-success-span{
    color: #ed2839;
    font-weight: 700;   
}
.result-div-left ,.result-div-right{
    min-width: 78px;
}

#error a{
    color:#333;
}